@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --gray: #f8f8f8;
    --black: #0f1521;
    --Montserrat: 'Montserrat', sans-serif;
    --white: #fff;
    --Poppins: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Start of Navbar styling */
.navbar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: var(--white);
}

.navbar-left .logo h1 {
    text-transform: uppercase;
    font-family: var(--Montserrat);
    font-weight: 300;
}

.navbar-left .logo h1::first-letter {
    color: #ff0000;
    font-size: xx-large;
}

.navbar-center ul {
    display: flex;
    column-gap: 30px;
}



.navbar-center ul a {
    color: var(--black);
    font-family: var(--Montserrat);
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.navbar-center ul a:hover {
    padding: 10px 10px;
    background-color: purple;
    border-radius: 20px;
    color: var(--white);
}


/* Start of Menu styling */

.menu {
    display: none;
}


/* End of Menu styling */

/* End of Navbar Styling  */

/* Start of Banner styling */


.banner {
    background: url(../images/slider-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-left h1 {
    color: var(--white);
    font-size: 35px;
    font-family: var(--Montserrat);
    font-weight: 500;
    margin-bottom: 35px;
}

.banner-left p {
    color: var(--white);
    font-family: var(--Montserrat);
    font-weight: 400;
    margin-bottom: 35px;
    width: 45%;
    font-size: 22px;
}

.banner-left .banner-btns {
    display: flex;
    column-gap: 10px;
}

.banner-btns button:nth-child(1) {
    width: 220px;
    height: 60px;
    color: var(--white);
    font-family: var(--Montserrat);
    background-color: rgb(51, 209, 51);
    padding: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.banner-btns button:nth-child(2) {
    width: 220px;
    height: 60px;
    color: var(--white);
    font-family: var(--Montserrat);
    background-color: purple;
    padding: 15px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.banner-btns button:nth-child(1):hover {
    opacity: 0.8;
}

.banner-btns button:nth-child(2):hover {
    opacity: 0.8;
}

/* End of Banner styling */

/* Start of Support styling */

.support {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.support .support_item {
    text-align: center;
    background-color: var(--gray);
    padding: 40px;
}

.support_item h2 {
    text-transform: uppercase;
    font-family: var(--Montserrat);
    font-weight: 600;
    margin-bottom: 10px;
}

.support_item img {
    display: flex;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 25%;
    cursor: pointer;
}

.support_item p {
    font-size: 18px;
    font-family: var(--Montserrat);
    font-weight: 400;
}

/* End of Support styling */

/* Start of About Shop styling */

.about-shop {
    margin-top: 80px;
    padding: 40px;
    display: flex;
    align-items: center;
}

.about-shop_content {
    display: flex;
    column-gap: 30px;
}

.about-shop_item-1 {
    width: 50%;
    height: 320px;
    background-color: var(--gray);
}

.about-shop_item-1 img {
    width: 100%;
}

.about-shop_item-2 {
    margin-top: 80px;
    width: 60%;
    height: 380px;
    background-color: var(--gray);
    display: flex;
    align-items: flex-end;
}

.about-shop_item-2 img {
    width: 100%;
}



.about-shop_right h1 {
    font-size: 40px;
    font-weight: 600;
    font-family: var(--Montserrat);
    margin-bottom: 35px;
    text-align: center;
}

.about-shop_right p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--Montserrat);
    margin: 0 auto;
    margin-bottom: 30px;
    width: 80%;
}

.about-shop_right button {
    width: 220px;
    height: 50px;
    font-size: 22px;
    border-radius: 45px;
    color: var(--black);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border: none;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-shop_right button:hover {
    transform: translateY(-10px);
    background-color: #2EE59D;
    color: var(--white);
    border-radius: 45px;
    box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
}

.about-shop_right button:hover {
    filter: var(--black);
    cursor: pointer;
}

/* End of About Shop styling */

/* Start of Top sale watches styling */


#user {
    color: purple;
    cursor: pointer;
    font-size: 1.5rem;
}


.watch-container {
    padding: 4rem;
    margin: auto;
    margin-top: 40px;
    width: 100%;
    background-color: var(--gray);
}



.shop-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    justify-content: center;
    align-content: center;
}

.food-box {
    width: 300px;
    height: 380px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
    border-radius: 3px;
    transition: .2s ease-out transform;
}

.food-box:hover {
    transform: translateY(-20px);
}

.food-img {
    transition: 0.4s;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pic img {
    width: 60%;
    margin-bottom: 15px;
    cursor: pointer;
}


.food-title {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    color: var(--black);
    font-family: var(--Montserrat);
    font-size: 22px;
    margin-bottom: 15px;
}

.food-price {
    font-family: var(--Montserrat);
    font-weight: 500;
    text-align: center;
    margin-bottom: 15px;
}

.add-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 70%;
    height: 50px;
    font-family: var(--Montserrat);
    color: var(--white);
    background-color: purple;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}

.add-cart:hover {
    background-color: var(--black);
}

/* End of Top sale watches styling */

/* Start of Contact Us styling */

.contact-us {
    margin-top: 50px;
    background-color: var(--white);
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact-us h1 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: var(--Montserrat);
    margin-bottom: 40px;
}

.message-form input {
    width: 400px;
    padding: 15px;
    outline: none;
    box-shadow: 10px 10px 10px var(--gray);
    border: none;
    background-color: var(--white);
    margin-bottom: 25px;
    font-family: var(--Montserrat);
}

.message-form input::placeholder {
    color: var(--black);
}

.message-form textarea {
    outline: none;
    margin-bottom: 20px;
}

.message-form textarea::placeholder {
    color: var(--black);
    font-family: var(--Montserrat);
    padding: 20px;
}

.message-form button {
    background-color: purple;
    border: none;
    width: 170px;
    height: 50px;
    font-family: var(--Montserrat);
    color: var(--white);
    font-size: 20px;
    border-radius: 15px;
    cursor: pointer;
}

/* End of Contact Us styling */

/* Start of Testimonial styling */

.testimonial {
    margin: 60px 0;
}

.testimonial h1 {
    font-family: var(--Montserrat);
    text-align: center;
    margin-bottom: 60px;
}

.testimonial-container {
    font-family: var(--Montserrat);
    width: 60%;
    padding: 40px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 10px 10px 10px var(--gray);
}

.testimonial-content {
    display: flex;
    column-gap: 15px;
}

.testimonial-client-img {
    position: relative;
}

.testimonial-client-img img {
    color: #2EE59D;
    border-radius: 100px;
    width: 150px;
}

.testimonial-title h2 {
    color: purple;
}

.testimonial-title h4 {
    color: #2EE59D;
    margin-bottom: 20px;
}


.testimonial-quote-icon {
    color: purple;
    font-size: 28px;
}

/* End of Testimonial styling */

/* Start of Footer styling */

footer {
    padding: 20px 0;
    width: 100%;
    background-color: var(--black);
}



.footer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-title h2 {
    font-weight: 300;
    padding: 15px;
    font-size: 32px;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--Montserrat);
    color: var(--white);
    border-bottom: 1px solid var(--white);
    width: 55%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 200px;
    grid-gap: 50px;
}

.footer_item {
    margin-top: 40px;
}

.footer_item h1 {
    font-family: var(--Montserrat);
    color: var(--white);
    margin-bottom: 15px;
    font-weight: 300;
    font-size: 24px;
}

.footer-shop_informations {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-bottom: 25px;
}

.footer-shop_informations h3 {
    color: var(--white);
    font-family: var(--Montserrat);
}

.another-information p {
    font-family: var(--Montserrat);
    color: var(--white);
    width: 100%;
}

.grid-footer-image {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.footer-watch-img {
    width: 70px;
    height: 70px;
    background-color: var(--white);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-watch-img img {
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.footer-form input {
    width: 300px;
    padding: 15px;
    margin-bottom: 15px;
    outline: none;
    font-size: 18px;
}

.footer-form button {
    width: 170px;
    height: 50px;
    background-color: purple;
    text-transform: uppercase;
    color: var(--white);
    font-family: var(--Montserrat);
    font-size: 18px;
    border: none;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.social-media {
    display: flex;
    column-gap: 25px;
}

.social-media img {
    cursor: pointer;
}




/* End of Footer styling */

/* All rights deserved  styling*/

.rights-deserved {
    padding: 30px;
    text-align: center;
    font-family: var(--Montserrat);
}

/* End of all rights deserved styling */


/* Media Query */

@media (max-width: 768px) {
    .about-shop {
        flex-wrap: wrap;
    }

    .about-shop_right {
        margin-top: 40px;
    }

    .about-shop_item-1 {
        width: 100%;
        height: 300px;
    }

    .about-shop_item-2 {
        width: 100%;
        height: 300px;
    }

    .about-shop_item-1 img {
        width: 100%;
    }

    .about-shop_item-2 img {
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }

    /* Start of Menu styling */

    .navigation {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 60px;
        background: #fff;
        box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-between;
        transition: height 0.5s, width 0.5s;
        transition-delay: 0s, 0.75s;
        overflow: hidden;
    }

    .navigation.active {
        width: 300px;
        height: 350px;
        transition: width 0.5s, height 0.5s;
        transition-delay: 0s, 0.75s;
    }

    .navigation .menuToggle {
        position: relative;
        width: 60px;
        height: 60px;
        background: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation .menuToggle::before {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        background: #555;
        transform: translateY(-10px);
        box-shadow: 0 10px #555;
        transition: 0.5s;
    }

    .navigation .menuToggle::after {
        content: "";
        position: absolute;
        width: 32px;
        height: 2px;
        background: #555;
        transform: translateY(10px);
        transition: 0.5s;
    }

    .navigation.active .menuToggle::before {
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 #555;
    }

    .navigation.active .menuToggle::after {
        transform: translateY(0px) rotate(-45deg);
    }

    .menu {
        display: block;
        position: absolute;
        width: 100%;
        height: calc(100% - 60px);
        margin-top: 60px;
        padding: 20px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .menu a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin: 20px 0;
        font-size: 1em;
        text-decoration: none;
        color: #555;    
    }

    /* End of Menu styling */

    .banner {
        background-position: center right;
    }

    .banner-left h1 {
        text-align: center;
    }

    .banner-left p {
        width: 80%;
        display: flex;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .banner-btns {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .support {
        grid-template-columns: 100%;
    }

    .contact-container {
        flex-direction: column;
    }

    .message-form textarea {
        margin-bottom: 20px;
    }

    .google-map iframe {
        width: 400px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 40px;
    }

    .testimonial-container {
        width: 100%;
    }

    .grid-footer-image {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-form input {
        width: 100%;
    }

    .food-box {
        width: 250px;
    }

}


@media (min-width: 768px) and (max-width: 1286px) {

    .banner-left {
        padding-left: 40px;
    }

    .navbar-center ul a {
        display: none;
    }

    .support {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .footer-form input {
        width: 320px;
    }

    .grid {
        display: grid;
        padding: 0 100px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .shop-content {
        display: grid;
        grid-template-columns: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .banner-btns {
        display: flex;
        margin: 0 auto;
        width: 345px;
    }

    .grid {
        padding: 0 60px;
        display: grid;
        grid-template-columns: 100%;
    }


    .food-box {
        width: 300px;
    }

    .testimonial-container {
        width: 100%;
        height: 100%;
    }

    .testimonial-content {
        flex-direction: column;
    }

    .testimonial-title {
        text-align: center;
    }

    .testimonial-quote-icon {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .testimonial-client-img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
    }

    .about-shop_item-1 {
        width: 100%;
        height: 150px;
    }

    .about-shop_item-2 {
        width: 100%;
        height: 150px;
    }

    .about-shop_right h1 {
        font-size: 26px;
    }

    .navbar-left .logo h1 {
        font-size: 25px;
    }

    .navbar-left .logo h1::first-letter {
        font-size: 25px;
    }

    .banner-left h1 {
        font-size: 25px;
    }

    .banner-left p {
        font-size: 17px;
    }

    .contact-us .message-form input {
        width: 100%;
    }

    .contact-us .message-form textarea {
        width: 100%;
    }

    .message-form {
        padding: 20px;
    }

    .message-form h1 {
        text-align: center;
    }

    .google-map iframe {
        width: 400px;
    }

    .footer-title h2 {
        font-size: 24px;
    }

    .watch-container {
        width: 95%;
    }

    .nav {
        position: fixed;
        left: 30px;
        width: 100%;
    }

    .nav-list {
        padding: 20%;
    }

    #close-menu {
        position: absolute;
        left: 65%;
    }
}

@media (min-width: 420px) and (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns: 100%;
    }
}

@media (max-width: 420px) {
    .google-map iframe {
        width: 330px;
    }
}

@media (max-width: 360px) {
    .banner-btns {
        flex-direction: column;
    }

    .banner-btns button {
        margin-bottom: 15px;
    }
}